:root {
    --mainDark: #343a40;
    --mainGrey: rgba(109,109,109);
    --mainLightGrey:#f5f5f5;
    --mainWhite: #fff;
    --mainBlue: #007bff;
    --mainGreen: #008000;

}
.navbar-nav > li > .dropdown-menu { background-color: #FF0000; }
